</*fonts start*/>
@font-face{
	src: url(../fonts/PlayfairDisplay-Black.ttf);
	font-family: PlayfairDisplay-Black;

}
@font-face{
	src: url(../fonts/PlayfairDisplay-Bold.ttf);
	font-family: PlayfairDisplay-Bold;

}
@font-face{
	src: url(../fonts/PlayfairDisplay-Italic.ttf);
	font-family: PlayfairDisplay-Italic;

}
@font-face{
	src: url(../fonts/PlayfairDisplay-Regular.ttf);
	font-family: PlayfairDisplay-Regular;

}
@font-face{
	src: url(../fonts/Ubuntu-Light.ttf);
	font-family: Ubuntu-Light;

}
</*fonts end*/>
</*common start*/>-
body{
}
.body-section{
	margin:  0;
	padding: 0;
	font-family: PlayfairDisplay-Regular;
	font-weight: 400;
	font-size: 16px;
	color: #626262;
}
</*common end*/>
</*header start*/>
header{
}
.header-section{
	/*border: 1px solid red;*/
	padding:20px 0;
}
.container{
	margin: 0 auto;
	width:90%;
	/*border: 1px solid yellow;*/
	overflow: hidden;
}

.logo{
	margin-top: 9px;
	width:12%;
	/*border: 1px solid black;*/
	float:left;
}
.logo a{
	display: block;
}
.logo a img{
	width: 100%;
}
.menu{
	width:65%;
	/*border: 1px solid black;*/
	float:right;
}
.menu ul{
float:right;
    
}
.menu ul li{
    float:left;
	list-style: none;
}
.menu ul li a{
	margin:0 50px;
	color: #626262;
	text-decoration: none;
	padding:3px 3px;
	display: inline-block;
	text-transform: uppercase;
	border-bottom:1px solid transparent;
}
.menu ul li:last-child a{
	padding-right: 0;
}

.menu ul li a:hover{
	border-bottom:1px solid #222222;
}

</*header end*/>
</*banner start**/>
.banner{
	margin:0 auto;
}
.b_img{}
.b_img img{
     width:100%;
}
</*banner end*/>
</*getaway start*/>
.getaway{

}
.getaway{
	padding: 80px 0 100px;
}


.container2{
	margin:0 auto;
	width:80%;
	/*border:1px solid green;*/
}
.g_content{}
.c_light{
	margin:0;
	font-family: Ubuntu-Light;
	font-weight: 300px;
	font-size: 14px;
	color: #b4ad9e;
	text-transform: uppercase;
}
.c_title{
	margin:20px 0 30px;
	font-size: 30px;
}
.c_text{
	margin:0 0 40px;
	line-height: 25px;
}

</*getaway end*/>
</*blog start*/>
.blog{
  
}
.blog{
	padding:80px 0 100px;
}
.b_wrapper{
	overflow: hidden;
}

.single{
	margin-bottom: 50px;
    width:47%;
    /*border:1px solid green;*/
    float: left;
}
.single:nth-child(even){
	margin-left: 6%;

}
.s_img{
	margin-bottom: 20px;
	width:100%;
}
</*blog end*/>
</*news start*/>
.news{

}
.news{
	background-color: #ddd;
	padding: 80px;
}
.signup{
	text-align: center;
}
.s_h1{
	color:#333333;
	margin-top: 0;
	margin-bottom: 80px;
}
.s_form{
	position: relative;
	width:400px;
	/*border:5px solid red;*/
    margin:0 auto;
	
	
}
.s_form input{
	font-family: PlayfairDisplay-Regular;
	font-size: 14px;
	color: #626262;
	width:355px;
	height:45px;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #333333;
	padding-left: 5px;
	padding-right: 40px;
}
.s_form input:focus{
	outline: 0;
}
.s_form button{
	position: absolute;
	background-color:transparent;
	border:none;
	cursor: pointer;
	top: 15px;
	right: 0;
}
.s_form button:focus{
	outline:0;
}
.s_form button img{}
</*news end*/>
</*button start*/>
.load{
	
}
.load {
	padding:80px 0 80px;
	text-align: center;
}
.load button{
	width:165px;
	height:60px;
	font-family: PlayfairDisplay-Regular;
	font-size: 20px;
	font-color: #626262;
	background-color: transparent;
	/*border: : 1px solid #626262;*/
	transition: .4s;
}
.load button:hover{
	background-color: #626262;
	color: white;
}
</*button end*/>
</*footer start**/>
footer{}
.footer{
padding:20px;
overflow: hidden;
background-color: #f0f0f0;
}
.f_top{
	width:30%;
	/*border:1px solid green;*/
	float:left;
}
.f_top ul{
	float:left;
}
.f_top ul li{
	list-style: none;
	float: left;
}
.f_top ul li a{
	font-family: "PlayfairDisplay-Regular";
	font-size: 14px;
	color: #000000;
	text-decoration: none;
	display:inline block;
	margin: 10px;
}
.f_bottom{
	width:60%;
	/*border:1px solid red;*/
	float: right;
	
}
.f_bottom ul{
	float:right;
}
.f_bottom ul li{
	list-style: none;
	float: left;
}
.f_bottom ul li a{
	font-family: "PlayfairDisplay-Regular";
	font-size: 14px;
	color: #000000;
	text-decoration: none;
	display: inline block;
	margin: 10px;
}
.f_bottom ul li a img{
	width: 30%;
}
</*footer end*/>




